.container {
    border:none;
    border-radius:10px;
    margin:auto;
    width :350px;
    height: 350px;
    box-shadow:0px 0px 5px 1px #cccccc;
}

.child {
  padding: 70px;
}

.c1,.c2,.c3,.c4 {
    border: none;
    box-shadow:0px 0px 5px 1px #cccccc;
    border-radius:50px;
    width: 200px;
    height: 25px;
    padding-left:2vh;
}


button {
    border: none;
    border-radius:50px;
    width: 200px;
    height: 30px;
    background-image: linear-gradient(to right, rgb(133, 224, 28),rgb(23, 107, 94),rgb(238, 184, 68))
}